/* Resources Page Styles */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}


.resources-container {
    margin: 100px auto 20px;
    padding: 30px;
    max-width: 900px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.resources-container h1 {
    text-align: center;
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
}

.resource-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.resource-item {
    background: hsl(234, 19%, 90%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resource-item h2 {
    font-size: 28px;
    color: #444;
    margin-bottom: 15px;
}

.resource-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

.resource-item .get-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.resource-item .get-button:hover {
    background-color: #e6533b;
}

#resource-form-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#resource-form label {
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
    display: block;
}

#resource-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#resource-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#resource-form button[type="submit"]:hover {
    background-color: #45a049;
}

.popup-message {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1dca11;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 9999;
}

.popup-message.show {
    bottom: 30px;
}
